<!-- <div id="projectwrapper">
    <div id="projectrow">
        <div id="rowelement2">
            <a href="/research/encounters_robot_swarms">
                <img src="/images/research/encs.png" alt="encounters in robot swarms" class="image-rounded-corners" width="300" height="300">
                <div class="overlay" style="background-color: #006633">
                    <div class="text">Inter-robot Encounters as Information Sources in Robot Swarms</div>
                </div>
            </a>
        </div>
        <div id="rowelement2">
            <a href="/research/heterogeneity_for_resilience">
                <img src="/images/research/hetero_res.jpg" alt="heterogeneity for resilience" class="image-rounded-corners" width="300" height="300">
                <div class="overlay" style="background-color: #006633">
                    <div class="text">Resilience in Heterogeneous Robot Swarms </div>
                </div>
            </a>
        </div>
    </div>
    <div id="projectrow">
        <div id="rowelement2">
            <a href="/research/swarm_robot_platforms">
                <img src="/images/research/swarm_platforms.jpg" alt="swarm_robot_plaforms" class="image-rounded-corners">
                <div class="overlay" style="background-color: #006633">
                    <div class="text">BrushBot</div>
                </div>
            </a>
        </div>
        <div id="rowelement2">
            <a href="/research/swarm_robot_platforms">
                <img src="/images/research/swarm_platforms.jpg" alt="swarm_robot_plaforms" class="image-rounded-corners">
                <div class="overlay" style="background-color: #006633">
                    <div class="text">BrushBot</div>
                </div>
            </a>
        </div>
    </div>
</div> -->
<style>
div.full-width {position:relative;float:left;width:100%;}
@media screen
and (min-width: 751px), screen and (min-device-width:751) {
div.video {position:relative;float:left;padding:5px;width:50%;}
iframe {width:100%;}
}
</style>
<style>
  .bottom-three {
     margin-bottom: 3cm;
  }
  .crop {
        width: 400px;
        height: 300px;
        overflow: hidden;
    }
  .crop2 {
        width: 400px;
        overflow: hidden;
    }
</style>

<style>

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>

<div class="topnav bottom-three">
 <a class="active" href="#resilient-section">Resilient & Collaborative Robot Teams</a>
 <a href="#scalable-section">Scalable Robot Swarm Algorithms</a>
 <a href="#robot-section">Physical Robot Design</a>
</div>
<!-- <input type="button" id="1" value="Resilient & Collaborative Robot Teams" href="#resilient-section"  style="margin-right: 10px"> -->

<!-- <input type="button" id="2" value="Scalable Robot Swarm Algorithms" onclick="#scalable-section"  style="margin-right: 10px">

<input type="button" id="2" value="Physical Robot Design" onclick="#robot-section"  style="margin-right: 10px"> -->

# <a name="resilient-section"> Resilience in Heterogeneous Robot Teams</a>
### Resilient Task Allocation in Heterogeneous Robot Teams: [<u>RA-L 2021</u>](https://ieeexplore.ieee.org/abstract/document/9349130), [<u>TR-O 2021</u>](https://arxiv.org/pdf/2105.05586.pdf)
<!-- <div id="video_background_video_0">
    <iframe id="video_background_video_0_yt" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1349" height="759" src="https://www.youtube.com/embed/1CXFhQ33_xs?loop=0&amp;start=0&amp;autoplay=1&amp;controls=1&amp;showinfo=0&amp;wmode=transparent&amp;iv_load_policy=3&amp;modestbranding=1&amp;rel=0&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fwww.onscreencounselling.com"></iframe>
</div> -->

<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/TRceQUiTnik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/fdfYID7u72o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<!-- <a href="http://gritslab.gatech.edu/home/2019/03/closed-loop-task-allocation-using-inter-robot-encounters/">
  <img src="../images/research/tro-ta.JPG" alt="resilient task allocation" width="900" height="900"/>
  <img src="../images/research/mrta-sims.png" alt="resilient task allocation2" width="300" height="300"/>
</a> -->

### Adaptive and Risk-Aware Behaviors: [<u>arXiv 2021</u>](https://arxiv.org/pdf/2105.03813.pdf), [<u>ICRA 2020</u>](https://ieeexplore.ieee.org/abstract/document/9197283)
<div class="full-width bottom-three">
  <div class="video"><img src="../images/research/target-tracking.png" alt="target tracking" width="500" height="300"/></div>
  <div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/EpcmsUVGlgw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>


### High-Fidelity Multi-Robot Simulations: [<u>DCIST</u>](https://www.dcist.org/technical-thrusts/)
<div class="bottom-three">
  <a href="https://dcist.org">
    <img class="crop" src="../images/research/PD_glowing.png" alt="CDE.B DCIST1" width="400" height="300"/>
    <img class="crop" src="../images/research/patrolling.png" alt="CDE.B DCIST2" width="400" height="300"/>
  </a>
</div>


# <a name="scalable-section">Scalable Algorithms for Robot Swarms </a>

### Encounters as Information Sources: [<u>T-RO 2019</u>](https://ieeexplore.ieee.org/abstract/document/8485322),[<u>Swarm Intelligence 2019</u>](https://link.springer.com/article/10.1007/s11721-019-00166-x), [<u>ICRA 2019</u>](https://ieeexplore.ieee.org/abstract/document/8794124), [<u>IROS 2019</u>](https://ieeexplore.ieee.org/abstract/document/8967985)
<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/sV7IyjpsY38" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/g-SroIf5_vg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/tCoQpderrMs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/SXCaT6-hwdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<!-- ### [Localization in Robot Swarms](http://gritslab.gatech.edu/home/2019/03/collisions-as-information-sources-in-robot-swarms/)
<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/sV7IyjpsY38" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

## [Decentralized Interference Reduction in Robot Swarms](http://gritslab.gatech.edu/home/2018/11/voluntary-retreat-for-decentralized-interference-reduction-in-robot-swarms/)
<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/tCoQpderrMs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

## [Decentralized Task Allocation In Multi Robot Systems](http://gritslab.gatech.edu/home/2019/03/closed-loop-task-allocation-using-inter-robot-encounters/)
<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/g-SroIf5_vg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div> -->

# <a name="robot-section"> Robot Design </a>
### Robotarium: [<u>Control Systems Magazine 2020</u>](https://ieeexplore.ieee.org/abstract/document/8960572)
<div class="full-width bottom-three">
<div class="video"><iframe width="640" height="360" src="https://www.youtube.com/embed/V10LkFVFppw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

### Brushbot Swarms: [<u>Quixotic Robotics</u>](https://www.quixoticrobotics.org/), [<u>IROS 2019</u>](https://ieeexplore.ieee.org/abstract/document/8967985)
<a class="bottom-three" href="http://www.gnotomista.com/research/swarming_brushbots/">
  <img src="../images/brushbot_swarm.JPG" alt="swarming brushbots" width="500" height="400" />
</a>

<!-- # [Safe Open-Loop Control in Multi-robot systems](http://gritslab.gatech.edu/home/2016/12/safe-open-loop-motion-strategies-for-handling-communication-failures-in-multi-robot-systems/)
<a href="http://gritslab.gatech.edu/home/2016/12/safe-open-loop-motion-strategies-for-handling-communication-failures-in-multi-robot-systems/">
  <img class="crop2" src="../images/safe.jpg" alt="safe open loop" width="400" height="300"/>
</a> -->
